{#
/**
 * Default Tab plugin for Craft CMS
 *
 * Default Tab Settings.twig
 *
 * @author    Studio Espresso
 * @copyright Copyright (c) 2017 Studio Espresso
 * @link      https://studioespresso.co
 * @package   DefaultTab
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{{ forms.textField({
    label: 'Default tab title',
    instructions: 'This will be a the title of the tab created for every new section',
    id: 'tabTitle',
    name: 'tabTitle',
    value: settings['tabTitle']})
}}

{{ forms.lightswitchField({
    label: 'Should every section have a title field?'|t,
    instructions: 'Only applied to Single sections (channels and structures have titles by default)'|t,
    id: 'hasTitleField',
    name: 'hasTitleField',
    value: "1",
    errors: settings.getErrors('hasTitleField'),
    on: (settings['hasTitleField'] is defined) ? settings['hasTitleField'] : ""})
}}
<div class="field" id="settings-hasTitleField-field">
    <div class="heading">
        <label id="settings-label" for="settings-hasTitleField">Default field groups</label>
        <div class="instructions"><p>You can also assign one of more field groups to section by default (note that these
                will be add on <strong>all</strong> sections).</p>
        </div>
    </div>
    {% for key, option in fieldGroups %}
        {%- set optionLabel = (option.label is defined ? option.label : option) %}
        {%- set optionValue = (option.value is defined ? option.value : key) -%}

        {% include "_includes/forms/checkbox" with {
        label:     optionLabel,
        id:        (loop.first and id is defined ? id : null),
        name:      'defaultGroups[]',
        value:     optionValue,
        checked:   (optionValue in settings.defaultGroups),
        autofocus: (autofocus is defined and autofocus and loop.first and not craft.request.isMobileBrowser(true))
        } only %}<br>
    {% endfor %}
</div>